<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="GD1C2011" connectionString="Data Source=ironsoftdev.com.ar;Initial Catalog=GD1C2011;Persist Security Info=False;User ID=gd;Password=gd2011" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>